﻿@model WebApplication2.Models.RegisterViewModel

@{
    ViewBag.Title = "RegisterConfirm";
}

<div class="container">
    <div class="row">
        <header class="col-sm-offset-2 col-sm-5">
            <h2>Confirm Registration</h2>
            <div class="step">Step 2 of 4:</div>
            <div>The information entered</div>
        </header>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            @foreach(var prop in Model.GetType().GetProperties())
            {
                if (prop.Name== "ListSalutation"||prop.Name== "ConfirmEmail")
                {
                    continue;
                }
                <div>@Html.Label(prop.Name): @prop.GetValue(Model, null)</div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 text-center">
            @Html.ActionLink("Back to Step 1", "Register","Account")
        </div>
        <div class="col-sm-offset-4 col-sm-3 text-center">
            @Html.ActionLink("NEXT","AddUser", null, new { @class="btn btn-danger btn-lg"})
        </div>
    </div>
</div>

