﻿

.inputElement:focus {
    outline: none;
    background-color: #f0f4f2;
}

.left-block {
    padding-right: 20px;
}

select > option:first-child {
    display: none;
}

.editFormElement {
    margin-bottom: 20px;
}
.lbl{
    display:inline-block;
    text-align:right;
    width: 125px;
}
div label {    
    text-transform: uppercase;
    font-size: 13px;
    font-weight: normal;
}

.editFormElement select, .editFormElement input {
    margin-left: 20px;
    height: 25px;
    width: 200px;
}

/*.editFormElement img {
    margin-left: 30px;
    position: absolute;
}*/

.editFormElement select > option:first-child:focus, .editFormElement input:focus {
    outline: none;
    background-color: #f0f4f2;
}

.msg-error {
    text-align: center;
    color: #f94b52;
}

header {
    margin-bottom: 40px;
}
